%section#about{role: "region", "aria-label" => "About"}
  .p-t_10
    %article.tx.__center
      %header.m-b_6
        %h1.tx.__color.__major.__upper Maxim Oskolsky
      %p.gamma Creative Front-end developer
      %p.gamma CSS / HTML / JS based superman
      %p.gamma < Fuck Yeah />

%section#skills{role: "region", "aria-label" => "Skills"}
  .ctn
    .p-t_15.p-b_10
      .grid-i.__desktop-grid-1-7
        %figure.tx.__center
          %p.beta.m-b_3 1
          %figcaption
            %p Html5
            %p Haml / Slim
      .grid-i.__desktop-grid-1-7
        %figure.tx.__center
          %p.beta.m-b_3 2
          %figcaption
            %p Css3
            %p Sass / Less
      .grid-i.__desktop-grid-1-7
        %figure.tx.__center
          %p.beta.m-b_3 3
          %figcaption
            %p Responsive
            %p Adaptive
      .grid-i.__desktop-grid-1-7
        %figure.tx.__center
          %p.beta.m-b_3 4
          %figcaption
            %p JavaScript
            %p jQuery
      .grid-i.__desktop-grid-1-7
        %figure.tx.__center
          %p.beta.m-b_3 5
          %figcaption
            %p AngularJS
            %p Backbone
      .grid-i.__desktop-grid-1-7
        %figure.tx.__center
          %p.beta.m-b_3 6
          %figcaption
            %p Canvas
            %p GameEngine
      .grid-i.__desktop-grid-1-7
        %figure.tx.__center
          %p.beta.m-b_3 7
          %figcaption
            %p PHP
            %p Ruby on Rails

%section#works{role: "region", "aria-label" => "Works"}
  .ctn  
    .p-t_10
      #feed.grid
        - 1.upto(12) do
          .item.grid-i.__desktop-grid-1-4
            %img.va-t.c-bg.__gray{src: "/assets/images/blank.gif", width: "100%", alt: ""}

%section#contacts.contacts{role: "region", "aria-label" => "Contacts"}
  .ctn 
    .p-t_25.p-b_25
      .grid-i.__desktop-grid-5-7.b-center
        .grid-i.__desktop-grid-1-5
          .tx.__center
            %a{href: "//www.facebook.com/oskolsky"}
              %i.fa.fa-facebook
        .grid-i.__desktop-grid-1-5
          .tx.__center
            %a{href: "//twitter.com/Oskolsky"}
              %i.fa.fa-twitter
        .grid-i.__desktop-grid-1-5
          .tx.__center
            %a{href: "mailto: info@oskolsky.com"}
              %i.fa.fa-envelope
        .grid-i.__desktop-grid-1-5
          .tx.__center
            %a{href: "skype: maxim_oskolsky"}
              %i.fa.fa-skype
        .grid-i.__desktop-grid-1-5
          .tx.__center
            %a{href: "//github.com/oskolsky"}
              %i.fa.fa-github