%section{role: "region", "aria-label" => "About"}
  .ctn
    .p-t_2.p-b_2
      .grid
        .grid-i.__grid-4
          .works
            %h5.m-b_2 Markup:
            %nav
              %ol
                %li 
                  %a.tx.__muted{href: "#", target: "_blank"} Pudra.by Shop
                %li 
                  %a.tx.__muted{href: "#", target: "_blank"} Blog Fiesta
                %li 
                  %a.tx.__muted{href: "#", target: "_blank"} Home Decor
                %li 
                  %a{href: "//cantataspb.oskolsky.com/demo", target: "_blank"} Cantata
                %li 
                  %a{href: "//nike.oskolsky.com", target: "_blank"} Nike
                %li 
                  %a{href: "//cis.oskolsky.com", target: "_blank"} Carlsbad International School
                %li 
                  %a{href: "//glasses.oskolsky.com", target: "_blank"} Glasses
                %li 
                  %a{href: "//faqman.oskolsky.com", target: "_blank"} Faqman
                %li 
                  %a{href: "//riw2013.oskolsky.com", target: "_blank"} RIW 2013
                %li 
                  %a{href: "//techkranch.oskolsky.com", target: "_blank"} Techkranch
                %li 
                  %a{href: "//unen.oskolsky.com", target: "_blank"} United Engineers
                %li 
                  %a{href: "//vv.oskolsky.com/", target: "_blank"} VVatch
                %li 
                  %a{href: "//lego.oskolsky.com/demo", target: "_blank"} Lego
                %li 
                  %a{href: "//samsung.oskolsky.com", target: "_blank"} Samsung
                %li 
                  %a{href: "//grape.oskolsky.com", target: "_blank"} Grape
                %li 
                  %a{href: "//grape-bunch.oskolsky.com", target: "_blank"} Grape Bunch
                %li 
                  %a{href: "//ping.oskolsky.com", target: "_blank"} Ping app v1
                %li 
                  %a{href: "//ping2.oskolsky.com", target: "_blank"} Ping app v2
                %li 
                  %a{href: "//ping3.oskolsky.com", target: "_blank"} Ping app v3
                %li 
                  %a{href: "//skycat.oskolsky.com", target: "_blank"} Skycat
                %li 
                  %a{href: "//miel.oskolsky.com", target: "_blank"} Miel
                %li 
                  %a{href: "//skycampus.oskolsky.com", target: "_blank"} Skycampus
                %li 
                  %a{href: "//sp.oskolsky.com", target: "_blank"} Smolpoint
                %li 
                  %a{href: "//t24.oskolsky.com", target: "_blank"} Transfers 24
        
        .grid-i.__grid-4
          .works
            %h6.m-b_2 Projects:
            %nav
              %ol
                %li 
                  %a{href: "#", target: "_blank"} Chemistry Template
                %li 
                  %a.tx.__muted{href: "//github.com/oskolsky/game_isometric", target: "_blank"} Game Isometric

        .grid-i.__grid-4
          .works
            %h6.m-b_2 JavaScript:
            %nav
              %ol
                %li 
                  %a{href: "//github.com/oskolsky/js_jquery-extensions", target: "_blank"} jQuery Extensions Plugin
                %li 
                  %a{href: "//github.com/oskolsky/js_backbone-render-collection", target: "_blank"} Backbone Render Collection