%section{role: "region", "aria-label" => "About"}
  .ctn
    .grid
      .grid-i.__grid-4
        .works
          %h5.m-b_2 Markup:
          %nav
            %ol
              %li 
                %a{href: "//cantataspb.oskolsky.com/demo", target: "_blank"} Cantata
              %li 
                %a.tx.__muted{href: "//nike.oskolsky.com", target: "_blank"} Nike
              %li 
                %a{href: "//cis.oskolsky.com", target: "_blank"} Carlsbad International School
              %li 
                %a{href: "//co.oskolsky.com", target: "_blank"} Glasses
              %li 
                %a.tx.__muted{href: "//faqman.oskolsky.com", target: "_blank"} Faqman
              %li 
                %a.tx.__muted{href: "//riw2013.oskolsky.com", target: "_blank"} RIW 2013
              %li 
                %a.tx.__muted{href: "//techkranch.oskolsky.com", target: "_blank"} Techkranch
              %li 
                %a.tx.__muted{href: "//unen.oskolsky.com", target: "_blank"} United Engineers
              %li 
                %a.tx.__muted{href: "//vv.oskolsky.com/", target: "_blank"} VVatch
              %li 
                %a.tx.__muted{href: "//lego.oskolsky.com/demo", target: "_blank"} Lego
              %li 
                %a.tx.__muted{href: "//samsung.oskolsky.com", target: "_blank"} Samsung
              %li 
                %a.tx.__muted{href: "//grape.oskolsky.com", target: "_blank"} Grape
              %li 
                %a.tx.__muted{href: "//grape-bunch.oskolsky.com", target: "_blank"} Grape Bunch
              %li 
                %a.tx.__muted{href: "//ping.oskolsky.com", target: "_blank"} Ping app v1
              %li 
                %a.tx.__muted{href: "//ping2.oskolsky.com", target: "_blank"} Ping app v2
              %li 
                %a.tx.__muted{href: "//ping3.oskolsky.com", target: "_blank"} Ping app v3
              %li 
                %a.tx.__muted{href: "//skycat.oskolsky.com", target: "_blank"} Skycat
              %li 
                %a.tx.__muted{href: "//miel.oskolsky.com", target: "_blank"} Miel
              %li 
                %a.tx.__muted{href: "//skycampus.oskolsky.com", target: "_blank"} Skycampus
              %li 
                %a.tx.__muted{href: "//sp.oskolsky.com", target: "_blank"} Smolpoint
              %li 
                %a.tx.__muted{href: "//t24.oskolsky.com", target: "_blank"} Transfers 24
      
      .grid-i.__grid-4
        .works
          %h6.m-b_2 Projects:
          %nav
            %ol
              %li 
                %a{href: "#", target: "_blank"} Chemistry Template
              %li 
                %a{href: "#", target: "_blank"} Game Isometric

      .grid-i.__grid-4
        .works
          %h6.m-b_2 JavaScript:
          %nav
            %ol
              %li 
                %a{href: "//github.com/oskolsky/js_jquery-extensions", target: "_blank"} jQuery Extensions Plugin
              %li 
                %a{href: "#", target: "_blank"} Backbone Render Collection