%footer#footer.footer{role: "contentinfo"}
  .ctn
    .p-t_4.p-b_4
      %article.tx.__center
        %p Creative Front-end developer
        %p CSS / HTML / JS based superman
        %p < Fuck Yeah />