%header#header.header{role: "banner"}
  .ctn
    .p-t_4.p-b_4
      .grid
        .grid-i.__grid-6.va-m
          %h1.tx.__upper.__major Maxim Oskolsky
        .grid-i.__grid-6.va-m
          .tx.__right
            %nav
              %ul.social
                %li
                  %a{href: "//www.facebook.com/oskolsky"}
                    %i.fa.fa-facebook
                %li
                  %a{href: "//twitter.com/Oskolsky"}
                    %i.fa.fa-twitter
                %li 
                  %a{href: "mailto: info@oskolsky.com"}
                    %i.fa.fa-envelope
                %li 
                  %a{href: "skype: maxim_oskolsky"}
                    %i.fa.fa-skype
                %li 
                  %a{href: "//github.com/oskolsky"}
                    %i.fa.fa-github            
      %p Creative Front-end developer
      %p CSS / HTML / JS based superman
      %p < Fuck Yeah />