%header#header.header{role: "banner"}
  .ctn
    .p-t_2.p-b_2
      %nav.tx.__center
        %ul.grid
          %li.grid-i.__desktop-grid-1-7 
            %a{href: "#about", data: {scroll: "true"}} About
          %li.grid-i.__desktop-grid-1-7.__desktop-prefix-2-7.__desktop-suffix-2-7 
            %a{href: "#works", data: {scroll: "true"}} Works
          %li.grid-i.__desktop-grid-1-7
            %a{href: "#contacts", data: {scroll: "true"}} Contacts