@if $grid == "responsive-auto" or $grid == "responsive-manual" {
  @include media-query(tablet) {body {padding-top: 0 !important;}}
  @include media-query(phone) {body {padding-top: 0 !important;}}
}



//****************************************************************************************************
//
// .. HEADER
//
//****************************************************************************************************
.header {
  @include media-query(desktop) {
    &.__sticky {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1000;
      background: $base-bg;
      box-shadow: .1em .1em .3em rgba(0, 0, 0, .25);
    }
  }
}



//****************************************************************************************************
//
// .. SOCIAL
//
//****************************************************************************************************
.social {
  li {
    display: inline-block;
    width: 50px;
    text-align: center;
    a {
      color: #ccc;
      font-size: 25px;
      &:hover {color: $major-color;}
    }
  }  
}



//****************************************************************************************************
//
// .. WORKS
//
//****************************************************************************************************
.works {
  margin-left: 6rem;
  
  li:not(:last-child) {margin-bottom: 1rem;}

  ol {
    counter-reset: list;
    > li {
      position: relative;
      &::before {
        counter-increment: list;
        content: counter(list) ".";
        position: absolute;
        top: 0;
        right: 100%;
        margin-right: .5rem;
        color: #ccc;
      }
    }
  }
}



//****************************************************************************************************
//
// .. FOOTER
//
//****************************************************************************************************
.footer {

}