@if $grid == "responsive-auto" or $grid == "responsive-manual" {
  @include media-query(tablet) {body {padding-top: 0 !important;}}
  @include media-query(phone) {body {padding-top: 0 !important;}}
}



//****************************************************************************************************
//
// .. HEADER
//
//****************************************************************************************************
.header {
  @include media-query(desktop) {
    &.__sticky {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1000;
      background: rgba(246, 246, 246, .75);
      border: {
        right: 10px solid $base-color;
        left:  10px solid $base-color;
      }
    }
  }
}



//****************************************************************************************************
//
// .. SECTION
//
//****************************************************************************************************
//
// .. Intro
//
.intro {

}

//
// .. Skills
//
.skills {

}

//
// .. Works
//
.works {

}

//
// .. Contacts
//
.contacts {
  font-size: 5.4rem;
}



//****************************************************************************************************
//
// .. FOOTER
//
//****************************************************************************************************
.footer {

}